$main-color:rgb(107,32,126);
$main-color-dark:rgb(75,10,90);
$main-color-light:rgb(162,26,193);
$white-color:rgb(255,255,255);
$gray-color-245:rgb(245,245,245);
$gray-color-220:rgb(220,220,220);
$gray-color-200:rgb(200,200,200);
$gray-color-160:rgb(160,160,160);
$gray-color-120:rgb(120,120,120);
$gray-color-100:rgb(100,100,100);
$gray-color-60:rgb(60,60,60);
$gray-color-0:rgb(0,0,0);
$yellow-active:rgb(254,217,0);
$green-color:rgb(55,180,75);
$green-color-dark:rgb(36,166,57);
$green-color-light:rgb(44,210,70);
