extend includes/_layout.jade
block siteinfo 
	- var title = "پروفایل کاربری"
block header
	include includes/_header.jade
block navbar
	include includes/_navbar.jade
block breadcrumb
	include includes/_breadcrumb.jade
block profile-content
	include includes/_profile-content.jade