.container-fluid
    .back-fluid
        .container
            .row
                .vg-breadcrumb
                    ol.breadcrumb
                        li
                            a(href="#") صفحه اصلی
                        li
                            a(href="#") آرایش صورت
                        li
                            a(href="#").active نام محصول