header
    .container
        .row
            .header-main
                .col-lg-2
                    img.img-responsive.logo-vg(src="../assets/img/logo.png")
                .col-lg-4.col-lg-offset-2
                    .search-bar
                        input.input-text(placeholder="جستجوی محصول ...")
                        a(href="#")
                            i.icon.icon-search
                .col-lg-1.col-lg-offset-1
                    .basket-icon
                         a(href="#").added
                            span.icon.icon-basket
                                i ۱۲
                .col-lg-2.sign-in-up
                    ul
                        li
                            .login
                                a(href="#")
                                    i.icon.icon-key
                                    span ورود
                        li
                            .register
                                a(href="#")
                                    i.icon.icon-register
                                    span ثبت‌ نام