nav.navbar.navbar-vasmegisoo.navbar-default
	.container
		.navbar-header
			button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#bs-example-navbar-collapse-1",aria-expanded="false")
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
			//- a.navbar-brand(href="#")
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-center-vasmegisoo
				li.dropdown
					a.dropdown-toggle.hover-effect(href="#",role="button",aria-expanded="false") آرایش صورت
						span.caret
					ul.dropdown-menu
						li
							a(href="catpage.html") Primer
						li
							a(href="#") Foundation
						li
							a(href="#") Concealers
						li
							a(href="#") Powder
						li
							a(href="#") Bronzing Powder
						li
							a(href="#") Blush
						li
							a(href="#") Make up Fixer
				li.dropdown
					a.dropdown-toggle(href="#",role="button",aria-expanded="false") آرایش چشم
						span.caret
					ul.dropdown-menu
						li
							a(href="#") Primer
						li
							a(href="#") Eyeshadow
						li
							a(href="#") Eye Pencil
						li
							a(href="#") Eyeliner
						li
							a(href="#") Mascar
						li
							a(href="#") Eyebrow
				li.dropdown
					a.dropdown-toggle(href="#",role="button",aria-expanded="false") آرایش لب
						span.caret
					ul.dropdown-menu
						li
							a(href="#") Lip Pencil
						li
							a(href="#") Lip gloss
						li
							a(href="#") Lipstick
				li.dropdown
					a.dropdown-toggle(href="#",role="button",aria-expanded="false") آرایش ناخن
						span.caret
					ul.dropdown-menu
						li
							a(href="#") Nail Care
						li
							a(href="#") Nail Polish
						li
							a(href="#") Kit
						li
							a(href="#") Solvents
						li
							a(href="#") Crystal Glaze
				li.dropdown
					a.dropdown-toggle(href="#",role="button",aria-expanded="false") شرکت‌های سازنده
						span.caret
					ul.dropdown-menu
						li
							a(href="#") MESAUDA
						li
							a(href="#") VOV
						li
							a(href="#") DAYCELL
						li
							a(href="#") SEMPLICE
						li
							a(href="#") IPKN
						li
							a(href="#") VERSAI
						
						



